[2016-05-25 17:37] slackmoehrle opened #2 "PiCamera troubles"
I have this camera: http://www.amazon.com/Waveshare-Raspberry-Camera-Version-Raspberry-pi/dp/B00N9YWLHE?ie=UTF8&psc=1&redirect=true&ref_=oh_aui_detailpage_o07_s00

When I run carspeed.py It cannot import PiCamera

[2016-05-25 17:45] slackmoehrle commented on #2
I made sure to enable the camera `sudo raspi-config`

I also have `sudo apt-get install python3-picamera`

[2016-05-25 17:46] Choroid commented on #2
Have you installed the python picamera library?

https://www.raspberrypi.org/documentation/usage/camera/python/README.md
On May 25, 2016 10:44 AM, "Slack-Moehrle" <notifications@github.com> wrote:

[2016-05-25 17:47] slackmoehrle commented on #2
Yup. Let me run through the steps again to make sure I didn't miss something.

[2016-05-25 17:54] Choroid commented on #2
Does the camera work with bash commands like raspistill?

On Wed, May 25, 2016 at 10:53 AM, Slack-Moehrle <notifications@github.com>
wrote:

[2016-05-25 18:40] slackmoehrle commented on #2
indeed. it does. Let me re-compile opencv and make sure I used Python 3

[2016-05-25 18:44] Choroid commented on #2
Are you using opencv inside a virtual environment?

I had an issue where apt-get picamera was not in virtualenv. Pip install
inside the virtualenv fixed it.
On May 25, 2016 11:41 AM, "Slack-Moehrle" <notifications@github.com> wrote:

[2016-05-25 18:46] slackmoehrle commented on #2
I think I see the problem. I did `workon cv` for Python 2.7 and related before I realized your script requires Python 3. Perhaps making a new virtual environment for Python 3 will solve it.

[2016-05-25 19:04] slackmoehrle commented on #2
I made a new Python3 virtual environment but notice the Cmake output for Python 3. It still says 2.7.

![img_0259](https://cloud.githubusercontent.com/assets/7491758/15552763/ec20f604-2289-11e6-92dd-d6bf589bd535.JPG)

[2016-05-25 19:06] Choroid commented on #2
Looks like something weird is going on.

Can you follow this guide?
http://www.pyimagesearch.com/2015/02/23/install-opencv-and-python-on-your-raspberry-pi-2-and-b/

You can likely skip to step 7.
On May 25, 2016 12:04 PM, "Slack-Moehrle" <notifications@github.com> wrote:

[2016-05-25 19:06] slackmoehrle commented on #2
I did:

$ mkvirtualenv cv3 -p python3
$ source ~/.profile
$ workon cv3
$ cd ~/opencv-3.0.0/build
$ cmake -D CMAKE_BUILD_TYPE=RELEASE \
	-D CMAKE_INSTALL_PREFIX=/usr/local \
	-D INSTALL_C_EXAMPLES=OFF \
	-D INSTALL_PYTHON_EXAMPLES=ON \
	-D OPENCV_EXTRA_MODULES_PATH=~/opencv_contrib-3.0.0/modules \
	-D BUILD_EXAMPLES=ON ..

[2016-05-25 19:53] gregtinkers commented on #2
The http://www.pyimagesearch.com/2015/10/26/how-to-install-opencv-3-on-raspbian-jessie/ is what I used when developing and testing the program and installation instructions. Were you in the virtual environment when the `sudo apt-get install python3-picamera` was run? Given the issue, check the version of picamera available in the cv3 environment. This is what i get:
[code]

[2016-05-25 20:16] slackmoehrle commented on #2
@gregtinkers I removed the virtual environments and started over. Compiling OpenCV again now.

[2016-05-25 20:44] slackmoehrle commented on #2
just to be sure, when I run `carspeed.py`, I should be in the virtual environment?

[2016-05-25 20:54] gregtinkers commented on #2
Yes.

[2016-05-26 17:27] slackmoehrle commented on #2
I am still struggling

[code]

[2016-05-26 19:51] slackmoehrle commented on #2
I think that I have it working now. Except the image is upside down. When I run raspistill it is rightside up

[2016-05-26 19:59] Choroid commented on #2
I'd try changing the camera.vflip bool. Should be as simple as adding
camera.vflip = true.
On May 26, 2016 12:51 PM, "Slack-Moehrle" <notifications@github.com> wrote:

[2016-05-26 20:18] gregtinkers commented on #2
Glad to hear you are making progress.
Line 111 and 112 are where you can make the change.
My set-up required the horizontal and vertical flip to both be true. Set it to false if that isn't correct for your camera positioning.

[2016-05-26 20:35] slackmoehrle commented on #2
Yes @Choroid that worked. I noticed that just as your reply came in.

So it works. However, I think I need to fix some math. My house sits on a hill.

Edge of my house to the middle of the toad is 72 ft, but the road is a 11 degree downgrade from the house. So it is capturing speed, but it is definitely wrong.

I see the camera picture, but when cars go by nothing happens on the camera.

[2016-05-26 21:05] gregtinkers commented on #2
How much of the display is dedicated to monitoring the road? The program does not update the display while a car is being tracked, so if you monitor the entire width of the image, you will not see a car as it proceeds through the monitored area.

Check the terminal to see how many readings are being taken as a car moves thought the monitored area. If you are not getting at least three or four, you

[2016-05-26 21:07] slackmoehrle commented on #2
Yes, I have been. I adjusted the monitored area to just a portion in front of my driveway that covers both lanes of the road and it seems to be working and now I am getting cars going by and pics, etc.

[2016-05-26 21:08] slackmoehrle commented on #2
thank you so much for outlining this. It inspires me to make a C++ version as an experiment.

[2016-05-26 21:14] gregtinkers commented on #2
Great! I admire your perseverance. If you write a C++ version, please share it and post a link in the comment section of my [car speed detector blog](https://gregtinkers.wordpress.com/2016/03/25/car-speed-detector/).

[2016-05-26 21:17] RawLiquid commented on #2
Hmmm.....Thanks for pointing that last bit out, I have been struggling to get it to reliably pick up a vehicle and do anything before the vehicle is gone.... My setup is also slightly above the street level but also much closer than the development environment...
I have made a number of changes to your source, which assuming I can get it working reliably you might be interested in. Here is a list

[2016-05-26 21:21] RawLiquid commented on #2
another planned feature I have is to initially display the selection window, then close that and as images are captured, also put them up on the screen either in a single window or possibly a rotating set such that you can see the last 2 vehicles detected.

[2016-05-26 21:59] slackmoehrle commented on #2
Here are a few pics of the setup and it running. I am getting 3-4 reads per car. Sometimes I get one that is 0 mph and sometimes, really high like 63mph (which people do go that fast down our road).

![img_0262](https://cloud.githubusercontent.com/assets/7491758/15591481/73a06eb6-236b-11e6-89af-7be38ac19c26.JPG)
![img_0263](https://cloud.githubusercontent.com/assets/7491758/15591482/73b5d9f4-236b-

[2016-05-27 14:00] gregtinkers commented on #2
@RawLiquid I'm remembering about 20000 pixels (or even less) for the monitored area. Looking at your set up, I think you could reduce the height of the bounding box and still get accurate results. The target car doesn't need to be entirely contained in the monitored box as the leading edge of the vehicle is the only thing that is tracked. Are you using a Pi 2 or Pi 3?

[2016-05-27 15:02] slackmoehrle commented on #2
@gregtinkers I am using a Pi 2 and I find that the reads are inaccurate at higher speeds. 40 and below seem accurate. I have a Pi 3 coming tomorrow and will try it out and see how the reads are.

By default distance to the middle of the road is 60. I am 72 but the road is an 11% grade down. Any idea how to compensate for that?

[2016-05-27 15:05] Choroid commented on #2
Could you physically measure the distance from edge to edge of the frame at
the point you want to read cars speeds?

Knowing the distance from lens to speed is just a convenient way to
calculate horizontal distance. I'm not exactly sure how the lens is shaped
on the pi, but measuring that horizontal distance would remove any doubt.
On May 27, 2016 8:03 AM, "Slack-Moehrle" <notifications@github.com

[2016-05-27 15:07] slackmoehrle commented on #2
I have the camera in a window. I stood in the middle of the road, used a distance finder and pointed it at the window. That told me 24 yards at an 11% grade.

[2016-05-27 23:50] gregtinkers commented on #2
@Choroid  is correct. I found several different values for the field-of-view of the Picamera, so the calculations could be off slightly. Also, your camera may have a slightly different lens. And, the timing method used isn't perfect. I wish there were a way to determine the time-stamp on the frame rather than record the current time and then capture a frame. Given all of that, you may find adjusti

[2016-06-02 21:50] RawLiquid commented on #2
as far as the grade is concerned, it shouldn't make much of a difference with one exception. due to the grade, a larger than desirable bounding box may be required in order to have cars be detected from either direction.
Regarding the nighttime operation, the results are skewed andbasically are invalid. I suspect this is because it first see's the headlight, and begins tracking it. Then as it move

[2016-06-05 15:14] slackmoehrle commented on #2
upgrading to a Raspberry Pi 3 made a huge difference in tracking. Slower cars < 40mph I get about 8-10 reads. Faster, >40 I am getting about 5-6. Faster, >55 I am getting about 3.

Night time reads are a bust. Something happens where when I get up and check the camera is tracking a read every 1-2 seconds all for 0mph.

[2016-06-06 01:09] Choroid commented on #2
@Slack-Moehrle are you using a regular or NoIR camera? Some of your old
pictures look like NoIR.
On Jun 5, 2016 8:14 AM, "Slack-Moehrle" <notifications@github.com> wrote:

[2016-06-06 02:08] gregtinkers commented on #2
@slackmoehrle Thanks for the update on the Pi 3.

Night images present many issues. In the day the car creates an area that is clearly different from the base image and is represented by a fairly large consistent area being tracked as it moves across the view. At night, the headlights would be illuminating the road which would generate an area to track. However, I'm guessing this area changes in s

[2016-06-06 13:12] slackmoehrle commented on #2
@Choroid I have this camera: http://www.amazon.com/Waveshare-Raspberry-Camera-Version-Raspberry-pi/dp/B00N9YWLHE?ie=UTF8&psc=1&redirect=true&ref_=oh_aui_detailpage_o07_s00

[2016-06-06 13:14] slackmoehrle commented on #2
@gregtinkers Thanks. Yes, I think the camera sometimes gets bumped by my cat. And there have been times that I am looking out the window and a car might run by and the camera starts tracking 0.

I'm working on a C++ version of this as a way to learn more about the capabilities of OpenCV. Any advice for an editor that runs well on Raspian? I'm not overly handy with vim and Nano is frustrating.

[2016-06-06 14:12] gregtinkers commented on #2
@slackmoehrle With your Pi 3, I think you can run about any Linux editor. I don't have a recommendation, but a quick Google of the topic brings up LOTS of opinions. After looking at some of the posts, I'd give Code Blocks IDE a try and see how well it worked.

[2016-06-06 14:21] slackmoehrle commented on #2
@gregtinkers Thanks, yes, the Pi 3 is much faster. With the Pi2 I struggled with even opening a browser. To much lag.

[2016-06-06 15:30] varunmehta commented on #2
@slackmoehrle Why not mount a common n/w disk to store the code, work on the laptop and compile on the Pi via SSH ? Not a 100% realtime, but the lag would be worth the frustration of writing the code on the pi directly, and you would be able to test it keeping the setup remote.

[2016-06-06 15:41] slackmoehrle commented on #2
@varunmehta great idea.

[2016-06-11 16:02] RawLiquid commented on #2
I think I'm going to bite the bullet on this one and order a pi 3...
It's either that or I just move away from the pi alltogether and go with something like an odroid or something similar...

[2016-06-22 06:08] RawLiquid opened #3 "Building and using opencv 3 and python 3.4 with carspeed.py"
I decided I would repost the issue, along with what I managed to discover after a bit of an accident had me rebuild my install.
I, like several others, managed to fool myself into thinking that my first setup was utilizing opencv3 and python 3.4. After all, I had followed the provided links and sat around for hours while line after line rolled by and hadn't received any errors in the process whats

[2016-06-22 06:44] RawLiquid commented on #3
If you check the virtualenv site-packages directory, which should be located at

[code]

You will not find it.
enter the following command, which will bring the global picamera module into your virtualenv, and allow it to be updated automatically via apt-get, which isn't a problem because nothing has been compiled against the picamera module, so there is little danger of doing an update which then

[2016-06-22 06:44] #3 closed

[2016-06-22 06:47] RawLiquid commented on #2
Just to be sure the various people subscribing to this thread get the notice, Please check out issue #3 which contains the solution to the original issue in here...
I will leave this topic open for @gregtinkers to close if he desires.

[2016-06-22 06:51] RawLiquid commented on #2
On a separate note, I don't suppose anybody happens to know if I should take the time to rebuild my sd card from scratch, I simply moved it from the pi 2 B straight into the pi 3 and it booted up just fine...Just wondering if I am possibly missing out on some of the speed increase by doing that...

[2016-06-22 13:06] slackmoehrle commented on #2
that is what I did. I had everything running on a pi2 and then when my pi3 came I put the SD card in it and it booted and worked just fine.

[2016-06-22 20:17] RawLiquid commented on #2
I just was wondering if perhaps the initial boot process selects a particular set of files based on what model pi it is, and deletes anything, though I guess if they are similar enough to boot without issue, it's not likely anything gets removed.

[2016-06-28 16:25] slackmoehrle commented on #2
What about adjusting the sensitivity? Recently my camera will just track non-stop if something besides a car crosses it. This can be a cat outdoors or a neighbor across the street.

[2016-06-28 16:45] gregtinkers commented on #2
I didn't see an issue with slow moving objects that crossed the field of view. One of my favorite pictures is of a cat with "2 MPH" above it. However if a cat or person stays in the monitored area long enough for the lighting to change, when it leaves, the program will register the lighting change as an object and get stuck in the tracking mode. You can adjust THRESHOLD to change how much of a gre

[2016-06-30 04:17] robertdud commented on #3
Hi @rawliquid thanks for the post. Tried using the command you posted, but I keep running into the same error "no module named 'picamera'" exact same output as in your original post.

Any thoughts on what might solve this? Any help is greatly appreciated!

[2016-07-02 01:43] pageauc opened #4 "Similar program"
FYI I have a similar python program
here https://github.com/pageauc/motion-track/tree/master/speed-track-2
This uses multi-processor and has a few more features.  This should run under python3 as well as python2.  See code for details Regards Claude ...

[2016-07-02 02:51] gregtinkers commented on #4
@pageauc I'm looking forward to experimenting with your version. I'm guessing that using threading improves the processing speed. I also appreciate the time you have taken to insert comments in your code. Thanks for sharing this.

[2016-07-02 10:34] pageauc commented on #4
I just ran it on a RPI3 using the V2 camera.  Speed was pretty amazing.
The RPI I used in the video was a single core that was pretty laggy since I
was not using video stream capture or threading on the original version
speed program. If you run htop you can see the threading working on each
core.  I just posted a speed2.sh script that runs the python script in the
background task to on boot from

[2016-07-03 07:51] RawLiquid commented on #4
I will certainly take a look at this as I've been trying to find the time
to sit down and attempt to make this one multi-threaded. I've just been
busy, thanks for mentioning it

On Friday, July 1, 2016, Claude Pageau <notifications@github.com> wrote:

--
I respectfully decline the invitation to join your hallucination.

[2016-07-03 22:21] RawLiquid commented on #3
sorry for the delay here, didn't see the notice about the post, check that the module is actually installed with
python2-
sudo apt-get install python-picamera
or python3
sudo apt-get install python3-picamera

if that command gives you a message saying it's already installed, then let me know what version of python your trying to use and the output of this command

sudo find / -iname "picamera*"

t

[2016-07-04 13:33] pageauc commented on #4
I have recently updated and improved the install.sh script.  There also was
a bug in the original version.
Delete the original install.sh in /home/pi
rmdir ~/install.sh
cd ~
wget https://raw.github.com/pageauc/motion-track/master/speed-track
-2/install.sh
chmod +x install.sh
./install.sh

See instructions for more detail
Claude ...

On Sun, Jul 3, 2016 at 3:51 AM, RawLiquid <notifications@github.c

[2016-07-04 13:34] pageauc commented on #4
I have recently updated and improved the install.sh script.  There also was
a bug in the original version.
Delete the original install.sh in /home/pi
rm ~/install.sh
cd ~
wget https://raw.github.com/pageauc/motion-track/master/speed-track
-2/install.sh
chmod +x install.sh
./install.sh

See instructions for more detail

On Mon, Jul 4, 2016 at 9:33 AM, Claude Pageau <pageauc@gmail.com> wrote:

--
Se

[2016-07-05 12:20] slackmoehrle commented on #2
One think I am noticing is that the camera enters a continual "tracking" every night when it gets dark out. I'd assume that adjusting THRESHOLD to a much higher number would help with this?

[2016-07-05 14:17] pageauc commented on #2
I have a street light just down the street from our home so I have never
experienced the tracking problem.  It may be due to an issue with opencv.
but since it is based on just subtracting two frames and calculating center
of largest threshold contour then I would not expect this since it needs to
start and continue a track.  If you get a change send a copy of the verbose
log.  See speed2.sh for d

[2016-07-05 22:11] gregtinkers commented on #2
Another possibility is that the lighting in the image may be changing faster than the base_image can adapt. Line 304 adjusts the base_image as the lighting changes. Perhaps increasing the weight of the incoming image would reduce the continuous tracking episodes.

[2016-07-06 15:48] RawLiquid commented on #4
So in starting with your repo shortly after I commented that I would be trying it out, I initially had a number of difficulties, I'm not sure why but a couple of function calls were not working properly, I think one was missing a parameter, I had tried first with python3, then after fixing a few issues I ran into one that wasn't clear exactly how to resolve, so I tried it in python2 and ended up h

[2016-07-06 15:57] RawLiquid commented on #2
I took a rather different approach towards resolving that continuous tracking issue.
I added a check into that loop that if it registered 5 seconds or more (I was actually about to knock it down to 2 seconds) then it wiped out the base image, cleared the flags back to defaults and moved on. The result was it essentially reset the entire script minus the bounding box selection of course.

[2016-07-06 16:01] slackmoehrle commented on #2
@RawLiquid could you share that fix so I can try it along with the other adjustments that I have made?

[2016-07-06 16:32] pageauc commented on #4
If you are running my script speed2.py I have not tested it for python3 but
did build some code in for detecting if it was running under python 3.  I
have only run under python2 due to having to compile python3 from source
which I have done in the past but do not have subsequently reused that sd
card.

I would recommend you just run the install.sh script again per instructions
on my github repo.

[2016-07-06 20:40] RawLiquid commented on #4
btw, the main bug I found and fixed was my mistake, the error I was getting had to do with the syntax for the threshold bits, and I had changed the image it was using while trying to figure out what the issue was, and forgot to change it back...

I've definately had much better results by blurring the gray images before the comparison rather than blurring the absolute difference. Blurring after re

[2016-07-06 20:59] pageauc commented on #4
RawLiquid

I am assuming you are running my version called speed2.py rather than the gregtinkers/carspeed.py?
If so I am curious if were you able to run it OK under python3..  Let me know.

Also
I was thinking of trying to add an optional feature to saving all completed track x,y coordinates to a file.  That way it could be used to track flying birds or other objects. cars normally move in a strai

[2016-07-09 20:06] RawLiquid commented on #2
Sure let me dig it up, it should be in my fork but I can send a pull
request for just that bit

On Wednesday, July 6, 2016, Slack-Moehrle <notifications@github.com> wrote:

--
I respectfully decline the invitation to join your hallucination.

[2016-07-09 20:38] pageauc commented on #2
FYI I have an updated Speed2.py that crops the stream image to the motion
designated area and processes the cropped grayscales for motion tracking.
This has improved the speed.  Also built in more control for variables.
Code is here with a convenient install.sh script for quick easy install.
It should run under python2 and python3 but I have not tested it for
python3 so let me know results if you

[2016-07-09 20:42] RawLiquid commented on #2
Just after the if statement for the tracking section, put this block right
after the secs= line

if secs >= 15:
                    state = WAITING
                    direction = UNKNOWN
                    text_on_image = 'No Car Detected'
                    motion_found = False
                    biggest_area = 0
                    base_image = None
                    break

The indent shou

[2016-07-28 14:24] slackmoehrle opened #5 "Adding functionality"
I've been running `carspeed.py` for a few months, capturing the cars speed as they drive by. I added some functionality to write each car out to a .csv. I worked with local law enforcement and started giving them the data. They used it find times that would be good to patrol and catch speeders. There was a car that routinely was going down my road at about the same time at a high rate of speed. Th

[2016-07-28 15:13] gregtinkers commented on #5
@slackmoehrle Woot! You caught a bad guy!

I really don't want to be Debbie Downer, but identifying the make and model will not be an easy task. Here's a link to one effort by a major insurance company using, I assume, some major hardware. https://www.wired.com/2014/12/app-can-instantly-identify-car-least-half-time/
The issue is that carspeed captures a side view of a car and training OpenCV to di

[2016-07-28 15:35] slackmoehrle commented on #5
@gregtinkers I'n not naive to the challenges. Thanks for the link, let me have a look see.

I was thinking that this might involve more than one camera. I have a few telephone poles outside my house that I could mount additional hardware on. Then I could have a number of angles.

[2016-07-28 21:42] RawLiquid commented on #5
Just curious where you live that you got LE interested in the data?

[2016-07-28 21:57] RawLiquid commented on #4
Sorry I sorta fell off the wagon here for a bit, Had a number of things going on but I should be getting back to helping with this soon, though my first task will be to figure out a stationary place I can place the thing where it can't be stepped on...

I'm definatly still stuck with the feeling that the camera could be doing alot of this work, do a better job of it, and free up the pi to simply f

[2016-07-28 23:15] gregtinkers commented on #4
@RawLiquid Sorry, I know the camera can capture motion vectors and it theoretically could duplicate what carspeed is doing. I just have no idea how to make use of them and I'm already off working on another project. I'd say a Google search for "picamera motion vectors" is in order.

[2016-07-29 08:30] slackmoehrle commented on #5
@RawLiquid I live in the Finger Lakes region of Upstate NY. We don't have a
local police force so we rely on the county Sheriff and the State Police. I
started collecting each car in a .csv and at the end of the month suck it
into Excel and tidy it up so that it makes sense to those looking at it.
Note the obvious times there are excessive speeders, repeatedly with some
graphs and charts.

On Thu,

[2016-07-29 15:54] RawLiquid commented on #4
Yah, I did find a program that works quite well for detecting motion using the vector data, and one of the things it will do is show the resulting info on the preview, in the form of a line extending from the object in the direction of travel, based on the speed of the movement...I started looking at the code behind it but some other responsibilities got in the way and I haven't gotten back to it

[2016-08-02 15:07] slackmoehrle commented on #5
Does anyone have ideas about IP based cameras? Something weather proof. I think Point Blank makes a variety of cameras.

I was thinking that I could read the video stream coming from the camera and as cars pass thru the designated area I can capture the rear of the car and use that image to determine what kind of car it is.

Now to get some starting data I could visit a number of dealerships in my

[2016-08-03 21:13] Choroid commented on #5
Take a look at some of Ubiquiti's outdoor camera offerings.

https://www.ubnt.com/unifi-video/unifi-video-camera-g3/

or

https://www.ubnt.com/unifi-video/unifi-video-camera-pro/

[2016-08-03 21:15] slackmoehrle commented on #5
Thanks.

[2016-09-21 01:51] dirtybeagles opened #6 "carspeed.py will not launch + new to python."
First, I am brand new into the python scene but the tutorials to get opencv install and all the dependencies were pretty simple(from: http://www.pyimagesearch.com/2015/10/26/how-to-install-opencv-3-on-raspbian-jessie/). I compiled my image (named picamera) with Python3 and I did not receive any errors. I complete the install fine from what I can tell. My issue is when I am
`workon picamera` and tr

[2016-09-21 02:14] gregtinkers commented on #6
It looks like you have copied some of HTML code into your carspeed.py file. You may wish to use the green 'Clone or download' button on the carspeed page to download a zip file of the program. That will get you a copy without any HTML in it.

[2016-09-21 13:34] dirtybeagles commented on #6
Wow that was easy. I just downloaded it to my pc and WINSCP it over and it started just fine.

Should I open a new topic if I want to know how I could change the snap shot directory to an SMB share?
Also, is there a live stream function to access remotely?

[2016-09-21 13:49] gregtinkers commented on #6
When I started this project I wasn't experienced with python either, but I researched on-line and figured out how to put the pieces together to make it work. Line 268 writes the image. I'm sure you can find resources on-line to explain how to write to an SMB share. I don't line stream the video, but I do access the Pi with VNC to monitor it while it is running.

[2016-12-11 16:24] kubilus1 opened #7 "X location will be incorrect"
for c in cnts:
        (x, y, w, h) = cv2.boundingRect(c)
        # get an approximate area of the contour
        found_area = w*h
        # find the largest bounding rectangle
        if (found_area > MIN_AREA) and (found_area > biggest_area):
            biggest_area = found_area
            motion_found = True

    if motion_found:
        if state == WAITING:
            # intialize tracking

[2016-12-11 20:49] gregtinkers commented on #7
@kubilus1 You are correct. That bug was discovered a couple weeks ago - the corrected code is in the comments on the [gregtinkers site](https://gregtinkers.wordpress.com/2016/03/25/car-speed-detector/) I'm working on version 2 and should have it posted in a day or so.

[2017-03-01 15:34] #4 closed

[2017-03-01 15:34] #5 closed

[2017-03-01 15:34] #6 closed

[2017-03-01 15:34] #7 closed

[2017-03-03 14:19] atraver1 opened #8 "Question about 2nd monitor area"
Hello greg,

i was just wondering if it was possible to create a 2nd monitoring area and track both?

[2017-03-03 17:44] gregtinkers commented on #8
It is certainly possible, though it may tax the power of the pi. If you wanted to, you could move the image processing into a method and each areas coordinates to the method where the original image would be cropped and processed. Give it a try!

[2017-03-16 17:00] atraver1 commented on #8
I'm sorry but that is sort of confusing to me. Is the image processing the
draw_rectangle function? Or is it the whole getting the image reference and
image comparing contours. I don't want to ask you to do it for me but could
you show me an example of that. I am just lost in this whole process. I am
still a little new to programming.

On Fri, Mar 3, 2017 at 12:44 PM, Greg Barbu <notifications@git

[2017-03-16 17:56] gregtinkers commented on #8
The program monitors the area defined by the draw rectangle function. Basically, it saves a portion of the frame without a vehicle and then compares it over an over to that same portion in the current frame. When the comparison shows a difference, it begins the speed calculation using a contour to define the change (a box drawn around the area that is different.) The part of the frame that it is u

[2017-04-14 14:02] MoreSong commented on #2
I already installed virtual environment.
When I was working on it, I installed picamera by using command:

pip-3.2 install "picamera[array]"

after that, I tried:

python (still in virtualenv)

and then:

import picamera

but at this time, I got an error saying that: "ImportError: No module named "picamera"

And then I tried:

pip freeze

it gave me:

appdirs==1.4.3
numpy==1.12.1
packaging==16.8
p

[2017-04-16 00:53] gregtinkers commented on #2
@MoreSong
I can only refer you to the [picamera docs](http://picamera.readthedocs.io/en/release-1.10/install3.html)

Perhaps someone else will assist you - also try posting this question on my [blog](https://gregtinkers.wordpress.com/2016/03/25/car-speed-detector/)

[2017-04-16 06:02] RawLiquid commented on #2
I'm a bit busy with a few things to go dig up the info for you, but i believe that I posted a specific post just for that topic, along with some suggestions on how I resolved it. basically for whatever reason, the picamera module isn't linked in the virtualenv, and it's a matter of going and manually linking or copying the file into the proper directory.

[2017-04-19 00:45] picameratk opened #9 "Does FOV change based upon 1080p vs 720p...."
When I put in a distance from my camera to the street carspeed.py calculates the length according to trig.  However when I measure the distance of my field of view (FOV) I come up with a shorter length.

My process.
1. Use laser measuring device to measure to center of street and get 91 ft.   carspeed.py calculates 109 feet for the length.
2. Used a laser pointer to measure the length and I get ar

[2017-04-19 01:19] gregtinkers commented on #9
Yes, it looks like the FOV does change, and the change is different for V2. See http://picamera.readthedocs.io/en/release-1.12/fov.html for more information. If you know the exact distance from the sides of the frame at 91 ft, plug it into **frame_width_ft** to get accurate results. I believe picamerea[array] does work with V2, but I have not tested it myself.

[2017-04-19 12:36] picameratk commented on #9
Thank you gregtinkers;  you found the documentation that has thus far eluded me.  I think I will actually change the resolution to 1640x922 to get full FOV as per the documentation.

Thanks again.

[2017-04-21 17:24] #9 closed, assigned to nobody

[2017-04-21 17:30] picameratk opened #10 "Can you use python threading for cv2.imshow during detection"
If I recall correctly you had to remove cv2.imshow when detection was in progress to speed up the program.  After looking at your program and watching the sample monitoring you had to work quite hard to get the speed you needed for this program to get enough samples for speed stabilization.

Since my python skills are non-existent could you have shoved cv2.imshor("Speed Camera", image) to another

[2017-04-21 18:46] gregtinkers commented on #10
See http://www.pyimagesearch.com/2015/12/28/increasing-raspberry-pi-fps-with-python-and-opencv/ for information on how this might be done. A good way to learn Python is to enhance an existing program. Good luck and please share your results.

[2017-04-27 22:24] picameratk commented on #10
I took your suggestion and created a threaded approach as well as a multiprocessing approach.  My objective was to be able to run the pi camera at around 1600x900 (approx) at 30 fps while show images during Tracking.  My experimentation made me conclude that a higher fps is required for measuring higher speeds more accurately so that became an objective.

I came to the following conclusions:
1.  T

[2017-04-27 23:40] gregtinkers commented on #10
@picameratk - that is a _great_ analysis. Perhaps someday the Raspberry Pi 4 or 5 will come along and have the necessary processing power.

[2017-04-29 06:15] RawLiquid commented on #10
Still won't put those corporate thieves out of business I'm afraid....

On Thu, Apr 27, 2017 at 4:40 PM Greg Barbu <notifications@github.com> wrote:

--
I respectfully decline the invitation to join your hallucination.

[2017-07-22 15:45] Zumbalamambo commented on #2
how do i install picamera on mac?

[2017-07-22 17:45] gregtinkers commented on #2
@Zumbalamambo  Picamera is designed specifically for the Raspberry Pi. If you want to run this program on a Mac, you will need to rewrite it to use images from a web cam.

[2017-07-22 18:23] pageauc commented on #2
Don't mean to take away from this project but thought I would point out a similar project I wrote a few years ago.
My speed camera is written in python and will use a web cam or a pi-camera
github project page here  https://github.com/pageauc/rpi-speed-camera
Also can save data to csv file and display images on a webserver I wrote.  Can also display data and images on html page using makehtml.py .

[2017-07-25 16:38] slackmoehrle commented on #2
@pageauc Thanks for writing your post. I have been working on a C++ version of @gregtinkers project. It was such great inspiration for me to built something useful to solve my own needs.

You mention a robbery. This same thing happens to us. Our neighbors know about our camera system (8 security cameras, plus 3 traffic cameras from 3 different angles). When things happen in our neighborhood we hav

[2017-07-25 17:36] pageauc commented on #2
I am currently testing a new speed camera image search.  To do a search you
copy search image(s) into a designated search folder and after the search
the ,results are put in a subfolder named the same as the search image
minus the extension along with the original image.  If there are more than
image to search  then they will be put in separate subfolders with results
of search.  After all images

[2017-07-25 17:53] slackmoehrle commented on #2
@pageauc sounds interesting. It would be useful to know how many times the same car went up and down the street and in what sort of interval.

I'm currently working on organizing all the footage from the security cameras and the pi cameras. My approach is when the pi camera takes a pic, I also capture the video snippets +/- an interval of time so that everything is all in one place. If I look at a

[2017-07-26 19:09] pageauc commented on #2
I have update my speed cam program GitHub Repo here
https://github.com/pageauc/rpi-speed-camera

I added speed-search.py that does an opencv template match to find similar
images.  See Readme.md for more details.  Have not updated wiki yet.
Tested with an older single core RPI  (good test machine)  and runs OK but
better on a quad core due to threading.  After collecting quite a few speed
images y

[2017-07-27 08:34] pageauc commented on #2
FYI

Did some recent repo fixes and updated/added Wiki instructions for
speed-search.py

https://github.com/pageauc/rpi-speed-camera/wiki/How-to-Run-speed-search.py

Will also publish a short YouTube video.

Claude

On Wed, Jul 26, 2017 at 3:09 PM, Claude Pageau <pageauc@gmail.com> wrote:

--
See my YouTube Channel at http://www.youtube.com/user/pageaucp

[2017-08-11 23:26] pageauc commented on #2
FYI

I have updated my  speed-cam.py to make it compatible with MS Windows, Unix
platforms using a Web Cam as well as RPI using pi-camera module or USB Web
Cam.  I have tested this on Windows 7 and works fine with no code changes
required.  Webserver also works OK.

The latest version also includes optional Disk Free Space management that
deletes oldest files of a designated file ext.  There is al

[2017-08-12 00:23] gregtinkers commented on #2
Thanks @pageauc. Please continue to post your update news here. You are taking this concept much farther than I ever planned. I'm happy to have people discover your work from these posts.

[2017-12-08 04:33] ruks001 commented on #3
when i run "$ ln -s -t  ~/.virtualenvs/cv/lib/python3.4/site-packages /usr/local/lib/python3.4/dist-packages/picamera" i got following message:

ln: failed to create symbolic link ‘/home/pi/.virtualenvs/cv/lib/python3.4/site-packages/picamera’: File exists

after that i tried to run the file again. but shows the same error:
Traceback (most recent call last):
  File "colordetection.py", line 2, in

[2018-04-02 02:13] crobinson42 opened #11 "Minor tweet/fix to findcontours for running Python 2"
I am running the project successfully with Python 2.7 and OpenCV version 2 with one tweek to line #228 findcontours() - the method only returns 2 parameters so I changed `(_, cnts, _) ...` to `(cnts, _)` to get it working.

[2018-04-02 02:16] crobinson42 opened #12 "Calculation speed left to right exagerated"
Any thoughts on why I might have 30-40% inflated speed calculation on vehicles traveling from **left to right** but have a near exact speed calc for vehicles from right to left?

[2018-04-02 02:32] gregtinkers commented on #12
The accuracy of right-left vs left-right is very dependent upon the distance from camera to the road. The farther you are away, the less the difference in the distance to the two lanes matters. If you need higher accuracy, modify the program to use a different distance for each direction.

[2018-04-02 02:53] crobinson42 commented on #12
Thank you, sir. I'll give that shot. Great project btw!

[2018-04-02 02:53] #12 closed, assigned to nobody

[2018-04-02 02:53] #11 closed, assigned to nobody

[2018-07-11 06:23] BugRaptor opened #13 "Wrong speed measurement on LEFT_TO_WRITE moves"
Sorry if I say something stupid, I only  just read the code and it seems line 277 might be wrong:

`abs_chg = x + w - initial_x`

x + w is the x position of the right (front) edge of the vehicle but initial_x was the left (rear) edge of it when starting tracking.

As the speed measurement is based on the abs_chg value it will be exaggerated (oversized) on left to right moves.

I would simply chang

[2018-07-11 13:18] gregtinkers commented on #13
Under most conditions the program tracks the front of the vehicle the entire time. For left to right moves, the contour expands from the left edge of the tacking area until the vehicle is entirely contained. During this time, the x value doesn't change, but the w increases. Once the entire vehicle is within the tracking area, x begins to change and w remains constant. The front of the vehicle is a

[2018-07-11 14:21] BugRaptor commented on #13
Oh, I understand ! Yes you're right. The tracking starts as soon as the vehicle partly enters the tracking area ! At this time w is small, but the "visible" part of the car inside the tracking area should already be big enough to trigger the tracking (found_area > MIN_AREA), that means w is small but not 0 and initial_x is not far but to the left of the initial front edge of the vehicle. This impl

[2018-07-13 17:12] pageauc commented on #13
I have had issues with contours shifting around on objects when tracking
for my speed camera https://github.com/pageauc/speed-camera
I already had a lead and end buffer area in the camera crop rectangle to
ensure the object was well within the rectangle before starting tracking.
The problem was contours would shift around during tracking resulting in
skewed speed results since I just recorded star

[2018-08-25 10:31] Hekami commented on #3
Hi,
I am facing the same errors.I am trying to do face recognition using pi camera on opencv 3.3.0 and raspberrypi3 B+ .Please help me out.

[2018-08-26 14:44] gregtinkers commented on #3
I'd suggest reviewing the installation instructions on [https://www.pyimagesearch.com/opencv-tutorials-resources-guides/](https://www.pyimagesearch.com/opencv-tutorials-resources-guides/)  Perhaps the instructions there will help you out for the version of Raspbian you are using.

[2018-08-26 19:34] pageauc commented on #3
I have a bash whiptail menu driven install the automates the install of
opencv.  You can set the version you like default is 3.4.2.  It will check
specified version agains opencv repo version.
Also have instructions for using external storage if the system drive does
not have enough free space.  Install is setup for a raspberry pi running
debian but can

https://github.com/pageauc/opencv3-setup

O

[2018-10-15 20:30] Rishan123 commented on #2
Hi, can you please elaborate your solution at this stage? I have precisely same issue ..

Thanks!
Alok

[2018-10-15 20:44] gregtinkers commented on #2
Alok - Change the values at lines 122 or 123 to meet your needs. My setup required flipping the images, and those lines do that.

[2019-10-31 08:53] ZIKO94ZIKO opened #15 "use camera laptop or camera ip"
HI Sir ,firstly  thank you for sharing your code and make it opensource. Could please explain how can be run the code with camera laptop or using camera ip by RSTP protocol.

[2019-10-31 12:59] gregtinkers commented on #15
The program is designed specifically for the Raspberry Pi and its camera. I'd suggest experimenting with  openCV on your laptop and then use CarSpeed as a template for rewriting the code.

[2020-07-02 07:16] 30qwq commented on #2
How did you solve this problem? I'm also struggling with this problem, too. ><

[2020-07-02 12:59] slackmoehrle commented on #2
@30qwq did you change those lines?

[2020-07-02 13:58] 30qwq commented on #2
I did the same lines to install picamera. The most weird thing is that my camera.py which contains "import picamera" can work somehow, after I struggled for hours. However, when I input "pip freeze", it didn't show up "picamera". And when I typed "import picamera " in the terminal, I also got an error, "ImportError: No module named "picamera".

[2020-07-02 14:02] slackmoehrle commented on #2
are you in a python virtual environment?

[2020-07-03 01:07] 30qwq commented on #2
yes, I installed picamera and typed "pip freeze" in a python virtual environment.

[2020-08-05 15:08] slowrunner opened #17 "findContours line 230 error not enough values to unpack (expected 3, got 2)"
They changed OpenCV findContours to only return two items now so must change line 230 to:
(cnts, _) = findContours(...

and BTW, if trying this on Buster in Aug 2020, workaround for "undefined symbol: __atomic_fetch_add_8",
invoke with:
LD_PRELOAD=/usr/lib/arm-linux-gnueabihf/libatomic.so.1 python3 carspeed.py

[2020-08-05 15:49] gregtinkers commented on #17
Yes, the number of parameters appears to have changed in openCV 4.0 from 3 returned items to 2 returned items. I think it changed from 2 to 3 when 3.0 was released. I wish they would make up their minds.

Thanks for the information on Buster installation.

[2020-08-05 15:49] #17 closed, assigned to nobody

[2020-08-05 15:51] #15 closed, assigned to nobody

[2022-03-28 13:29] GWAM opened #18 "opencv error: ValueError: not enough values to unpack (expected 3, got 2)"
Hi Greg, and others!

Unfortunately for me, I am not a developer and don't know how to fix this on my own, I am just dangerous enough to be able to set this up and run it and it has been working great until recently.
It seems that opencv had a few changes to the way the findContours function works and it no longer works with Greg's original code, I get the following error:
[code]
I tried finding a

[2022-03-28 15:13] gregtinkers commented on #18
I don't have a version running anywhere to test, but try replacing
    (_, cnts, _) = cv2.findContours(thresh.copy(), cv2.RETR_EXTERNAL,cv2.CHAIN_APPROX_SIMPLE)
with
 cv2.findContours(thresh.copy(), cnts, cv2.RETR_EXTERNAL, cv2.CHAIN_APPROX_SIMPLE)

[2022-03-28 15:27] GWAM commented on #18
Thanks Greg!! unfortunately, I think the syntax is wrong? with the new line, I get this -

`NameError: name 'cnts' is not defined`

[2022-03-28 18:36] gregtinkers commented on #18
Oops - I think that was the Java syntax. Try this instead.

(cnts, _) = cv2.findContours(thresh.copy(), cv2.RETR_EXTERNAL,cv2.CHAIN_APPROX_SIMPLE)

To help you resolve future issues, use this link to the Python OpenCV tutorial:

https://docs.opencv.org/4.x/d6/d00/tutorial_py_root.html

[2022-03-28 19:14] GWAM commented on #18
@gregtinkers thank you so much! yes, that worked, I now have the program running again, that's the good news, the bad ones are that post the pandemic and now that schools are back, people yet again speed through our street like maniacs... thanks for the help, I really appreciate it.
M

[2022-03-28 19:14] #18 closed, assigned to nobody